@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color:  #7D3C98 ;
    font-family: 'Francois One', sans-serif;
    width: 20vw;
    height: 100vh;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.sidebar nav li{
    list-style: none;
   
    padding-top: 30px;
    padding-left: 20px;
    
}
.main{
    background-color: rgb(203, 203, 224);
    width: 80vw;
}

.container{
    display: flex;
}

.photo{
    margin: 80px auto;
    height: 68vh;
    width: 50vw;
}

.photo img{
    height: inherit;
    width: inherit;
}

.info{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: rgb(12, 10, 10);
}

.Footer{
    color: black;
    font-weight: bold;
    text-align: center;
}

.intro{
    padding-left: 40px;
    padding-top: 30px;
    height: 95.5vh;
    width: 80vw;
    background-color: rgb(203, 203, 224);
}

.personal{
    border-collapse: collapse;
    border-color: black;
    border-style: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}

.personal td{
    padding-left: 10px;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}
.personal th{
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}

.contact{
    width: 80vw;
    background-color: rgb(203, 203, 224);
    
}

.contact h1{
    font-size: 50px;
}

.contact h6{
    margin-left: 20px;
    font-style: normal;
    font-family: cursive;
    font-size: 20px;
}
.contact ul{
    padding-top: 30px;
    padding-left: 20px;
    font-family: cursive;
    list-style: none;
}

.Education{
    border-collapse: collapse;
    border-color: black;
    border-style: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}
.Education td{
    padding-left: 10px;
    text-align: center;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}
.Education th{
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}

.favourites{
    border-collapse: collapse;
    border-color: black;
    border-style: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}
.favourites td{
    padding-left: 10px;
    
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}
.favourites th{
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}

